
<br>

 <br>
<table class="table table-bordered">
    <thead class="">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Title</th>
        <!-- <th scope="col">Description</th> -->
        <th scope="col">PageCount</th>
        <th scope="col">PublishDate</th>
        <th> <button class="btn btn-primary" (click)="addBook()"> Add Book </button></th>

      </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let book of bookData">
            <th >{{book.ID}}</th>
            <td>{{book.Title}}</td>
            <td>{{book.PageCount}}</td>
            <td>{{book.PublishDate}}</td>
            <td><button class="btn btn-success"  routerLink="/book/{{book.ID}}" (click)="bookDetails(book.ID)">Details</button>
           <td><button class="btn btn-success" (click)="editBook(book)">Edit</button>
           <td><button class="btn btn-success" (click)="deleteBook(book.ID)">Delete</button>
         
        </tr>
        </tbody>
       
      </table>
